# This workflow runs update-readme.py which updates README.md file.

name: Update readme

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install python-leetcode
    - name: Run update-readme.py
      run: |
        python update-readme.py
    - name: Commit changes
      run: |
        git config --global user.name 'sechiyo97'
        git config --global user.email 'sechiyo97@daum.net'
        git add -A
        git commit -am "auto-update README.md"
    - name: Push changes
      run: |
        git push
